<launch>

    <include file="$(find arm_moveit)/launch/demo.launch" pass_all_args="true">
        <arg name="moveit_controller_manager" value="ros_control"/>
    </include>
    
    <include file="$(dirname)/ros_controllers.launch"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

    <arg name="node_start_delay" default="2.0" />
    <node name="hardware_interface" pkg="arm_control" type="arm_control" respawn="false"
        output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " />

    <node name="can_reciever" pkg="can_interface" type="CAN_rx.py" respawn="false"
        output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " />
    <node name="can_transmitter" pkg="can_interface" type="CAN_tx.py" respawn="false"
        output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " />


</launch>

