<launch>

<rosparam file="$(find arm_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="Arm1" args="shoulder_position_controller elbow_1_position_controller elbow_2_position_controller wrist_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/Arm1/joint_states"/>
</node>

</launch>